#container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    background-color: rgb(211, 206, 206);
}

#root {
    min-width: 450px;
    min-height: 100vh;
    margin: auto;
    background-color: white;
    position: relative;
    overflow-x: hidden;
}
